<div>
	<h4>Añadir comentario</h4>
	<form method="post" action="/quizes/<%= quizid %>/comments/">
		<input type="text" id="comment" name="comment[texto]" placeholder="Escribe aqui tu comentario..." />
		<button type="submit" class="btn-green">Enviar</button>
	</form>
</div>