<div>
      <div id="imagen-autor">
        <img  src="images/elkinbarreto.jpg" width="150px" height="150px" />
      </div>
      
      <h1 class="title-section"><%= title %></h1>
      <h2 id="nombre-autor">Elkin Manuel</h2>
      <h4 id="apellido-autor">Barreto Contreras</h4>
      <h6 id="pais-autor">Colombia</h6>
</div>
  