<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel="icon" type="image/x-icon" href="../public/images/favicon.ico" />-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="images/elkinbarreto.jpg" width="150px" height="150px" />
    <h2>Elkin Manuel</h2>
    <h4>Barreto Contreras</h4>
    <h6>Colombia</h6>
    
  </body>
</html>