<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <!--<link rel="icon" type="image/x-icon" href="../public/images/favicon.ico" />-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz!</h1>
    <p>El mejor juego de preguntas!</p>   
  </body>
</html>
