<div>
	<h1 class="ion-ios-home-outline icon-section"></h1>
	<h1 class="title-section">Bienvenido a Quiz!</h1>
	<h3 class="subtitle-section">El mejor juego de preguntas!</h3>
	<p class="p-section">Diviértase demostrando cuánto sabes respondiendo preguntas realizadas por millones de usuarios a nivel mundial. Invita y reta a tus amigos a jugar. A demás, puedes crear tus propias preguntas, agregar repuestas a las preguntas existentes, actualizar y eliminar cualquiera pregunta.</p>   
</div>