<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas.</h2>
    
    <h4><%= repuesta %></h4>

    <a href="/quizes/question">Inténtalo otra vez</a>
        
  </body>
</html>
