<div>     
    <h1 class="<%= msgclass %> icon-section"></h1>
    <h1 class="title-section"><%= repuesta %></h1>
    <h3 class="subtitle-section"><a href="/quizes/<%= quiz.id %>" >Volver</a></h3>
        
</div>
