<div>
	<h4>Iniciar sesion</h4>
	<form method="post" action="/login">
		<div>
			<input type="text" id="login" name="login" placeholder="Escribe aqui tu usuario..." />
		</div>
		
		<div>
			<input type="password" id="password" name="password" placeholder="Escribe aqui tu clave..." />
		</div>	<button type="submit" class="btn-green">Login</button>
	</form>
</div>